@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --ancho:80%;
}
.alineacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alineacion-h{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #000;
    padding: 1rem;
    color: #fff;
}
nav{
    width: 70%;
}
nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav>ul>li{
    text-align: center;
    width: 100%;
}
li>a{
    color: #fff;
    text-decoration: none;
}
.reseñas{
    margin-bottom: 5rem;
    width: 100%;
    text-align: center;
}
.reseñas>h1{
    font-size: 3rem;
    padding: 5rem 0 0 0;
    margin-bottom: 3rem;
}
.primer>h2{
    font-size: 2rem;
    text-decoration: underline;
}
.caja-reseña{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px;
}
.reseña{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    height: 180px;
    min-width:200px;
    max-width: 300px;
    background: rgba(0, 0, 0, .9);
    color: #fff;
    padding: 30px 60px 30px 40px;
    text-align: left;
    border-radius: 20px;
}
.reseña>h4{
    margin:15px 0 0 0;
    font-style: italic;
}
.pie{
    margin-top: 2rem;
    height: 10vh;
    font-size: .7rem;
    background: #000;
    color: #fff;
    padding: 1rem;
    justify-content: space-between;
}
.redes{
    font-size: 1.1rem;
    width: 10rem;
}
.redes>a{
    color:#fff;
}
@media screen and (min-width: 300px) and (max-width:750px) {
    header{
        flex-direction: column;
    }
    header>h3{
        display: none;
    }
    nav{
        width: 100%;
    }
    iframe{
        width:70%;
    }
}
@media screen and (min-width:300px) and (max-width:450px) {
    nav>ul>li{
        font-size: .8rem;
    }
    .descripcion{
        width: 90%;
        font-size: .9rem;
    }
    .reseñas>h1{
        font-size: 2rem;
    }
    .primer>h2{
        font-size: 1.5rem;
    }
    iframe{
        width: 80%;
    }

}
