@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --ancho:80%;
}
.alineacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alineacion-h{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #000;
    padding: 1rem;
    color: #fff;
}
nav{
    width: 70%;
}
nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav>ul>li{
    text-align: center;
    width: 100%;
}
li>a{
    color: #fff;
    text-decoration: none;
}
.principal{
    padding: 5rem 1rem 1rem 0;
}
.desc{
    margin: 1rem 0;
}
.desc>h1{
    margin: 1rem 0;
}
.descripcion{
    width: 60%;
    font-size: 1.1rem;
    text-align: justify;
}
.primer{
    margin: 3rem auto;
    width: 80%;
    background: #fff;
    box-shadow: 1px 1px 30px #0005;
    padding: 2rem;
    border-radius: 15px;
}
.primer>h2{
    font-size: 2rem;
    font-weight: bolder;
}
.primer-n{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 1rem 0;
}
.primer-n>img{
    width: 40%;
    min-width: 300px;
}
.primer-d{
    text-align: justify;
    padding: 1rem;
    font-size: 1rem;
    width: 50%;
    min-width: 350px;
}
.primer-a{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.primer-p{
    font-size: 1.1rem;
}
.primer-p>ul{
    width: 90%;
    font-size: 1.1rem;
    margin: auto;
}
.pie{
    margin-top: 2rem;
    height: 10vh;
    font-size: .7rem;
    background: #000;
    color: #fff;
    padding: 1rem;
    justify-content: space-between;
}
.redes{
    font-size: 1.1rem;
    width: 10rem;
}
.redes>a{
    color:#fff;
}
@media screen and (min-width: 300px) and (max-width:750px) {
    header{
        flex-direction: column;
    }
    header>h3{
        display: none;
    }
    nav{
        width: 100%;
    }
}
@media screen and (min-width:300px) and (max-width:450px) {
    nav>ul>li{
        font-size: .8rem;
    }
    .descripcion{
        width: 90%;
        font-size: .9rem;
    }
    .primer{
        width: 80%;
    }
    .primer-a{
        font-size: .9rem;
    }
    .primer-p>ul{
        font-size: .9rem;
    }
    .primer-d{
        min-width: 330px;
        font-size: .9rem;
    }
}